 
<ion-content [fullscreen]="true">
  
  <div class="page-centered-element">
    <div class="content">
      <div>
        <ion-label style="font-weight: bold; font-size: 25px;">LET ME HELP YOU</ion-label>
      </div>
      <ion-button (click)="addAccount()"><div><p>1. ADD ACCOUNT</p><ion-icon name="arrow-forward"></ion-icon></div></ion-button>
      <ion-button (click)="addAList()"><div><p>2. ADDED ACCOUNT LIST</p><ion-icon name="arrow-forward"></ion-icon></div></ion-button>
      <ion-button (click)="onMapping()"><div><p>3. MAPPING ADDED ACCOUNTS</p><ion-icon name="arrow-forward"></ion-icon></div></ion-button>
      <ion-button (click)="onTotal()"><div><p>4. TOTAL</p><ion-icon name="arrow-forward"></ion-icon></div></ion-button>
    </div>
  </div>
</ion-content>
