 <ion-content class="ion-padding">
    <div class="logo">
       <img src="assets/imgs/query.png" />
    </div>
    <div class="page-centered-element">
      <div class="content">
        <div class="body">
          <div class="lbl">
            <ion-label>Input Your Email Address</ion-label>
          </div>
          <ion-input type="email" placeholder="Email" [(ngModel)]="email"></ion-input>
          <ion-row class="send-row" (click)="onSend()">
              <ion-col style="width: 10%; max-width: 10%;"><ion-icon name="checkmark"></ion-icon></ion-col>
              <ion-col style="width: 90%; max-width: 90%;"><ion-label>SENT PASSWORD REST EMAIL</ion-label></ion-col>
          </ion-row>
          <ion-row class="cancel-row" (click)="onCancel()">
            <ion-col style="width: 20%; max-width: 20%;"><ion-icon name="close"></ion-icon></ion-col>
            <ion-col style="width: 80%; max-width: 80%;"><ion-label>CANCEL</ion-label></ion-col>
          </ion-row>
        </div>
      </div>
    </div>
    
</ion-content>
