ion-content{
    --background: #c8ddee;
}
.page-centered-element {

    .h-content{
        padding: 20px;
        color: #386ca6;
        display: flex;
        align-items: center;
        .lbl{
            text-align: center;
            width: 100%;
        }
    }
}
ion-button{
    border-radius: 5px;
    --background: transparent;
    border: 1px solid rgb(10, 134, 240);
    --color:rgb(10, 134, 240);
    font-size: 0.75rem;
    margin-top: 10px;
    height: 40px;
    --background-activated:rgb(157, 206, 252);
}
.content{
    padding: 10px;
    // border: 2px solid rgb(10, 134, 240);
    // margin: 15px 0px;
    font-size: 12px;
    .h-row, .h-h-row{
        height: 45px;
        margin: 10px 0px;
        border-radius: 5px;
        background-color: rgb(247 249 89 / 50%);
        display: flex;
        align-items: center;
        font-size: 12px;
        .r-col{
            display: flex;
            justify-content: flex-end;
            max-width: 40%;
            width: 40%;
           
        }
        ion-label{
            color: rgb(24 106 6);
        }
    }
    .h-h-row{
        background-color: rgba(203 212 175) !important;
    }
    .d-row{
        display: flex;
        align-items: center;
        text-align: center;
        margin-left: 10px;
        font-size: 12px;
        border-radius: 5px;
        background-color: rgba(156,163,175, 0.4);
        margin-bottom: 10px;
        .n-col{
            text-align: left;
            color: rgb(10, 134, 240);;
        }
        .i-col{
            max-width: 10%;
            width: 10%;
            display: flex;
            align-items: center;
            ion-icon{
                font-size: 12px;
            }
        }
    }
   .icon-cont{
       border: 1px solid #0a86f0;
       width: 20px;
       height: 20px;
       border-radius: 50%;
       font-size: 1.0rem !important;
       background-color: #0a86f0;
       display: flex;
       align-items: center;
       justify-content: center;
       ion-icon{
           font-size: 1.0rem;
           font-weight: bold;
           color: white;
       }
   }
}
.c-header{
    display: flex;
    align-items: center;
    font-size: 12px;
    p{
        margin: 0px;
        margin-left: 10px;
    }
    ion-input{
        border: 1px solid black;
        height: 25px;
        font-size: 12px;
        border-radius: 2px;
        margin-left: 10px;
        --padding-start: 5px;
    }
}
.details{
    margin-left: 10px;
}
ion-item, ion-list{
    --background:none;
    background: none;
    --inner-border-width: 0px;
}
.confirm-modal {  // Modal cssClass class name
    ion-backdrop {
      --backdrop-opacity: 0;
    }
}
.confirm-modal .modal-wrapper{
    --border-radius: 20px;
    --max-height: 50%;
    --max-width: 80%;
    --width: 80%;
    --height: 50%;
    top: 25%;
    margin-left: 38px;
}
ion-modal {
    .modal-wrapper {
        height: 70%;
        width: 60%;
    }
}